@import "/node_modules/codemirror/lib/codemirror.css";

:focus:not(.focus-ring) {
  outline: none;
}

.focus-ring {
  outline: .15rem solid lightblue;
}

::-moz-focus-inner {
  border: none;
}

$container-width: 40rem;
$button-size: 2rem;
$circle-color: lighten(#5D83DA, 5%);

.container {
  max-width: $container-width;
  margin: 2rem auto;
}

.code-container {
  display: flex;
}

.code {
  white-space: pre;
  border: .13rem dashed #bdc3c7;
  border-radius: .2rem;
  margin: 2rem 0;
  padding: 1rem;
  width: 50%;
}

.variables-wrapper {
  padding: 1rem;
}

.variables {
  border-collapse: collapse;
  margin: 2rem;
  width: 50%;
  tr:nth-child(odd){background-color: #f2f2f2};
  th {
    background-color: darken($circle-color, 10%);
    color: white;
  }
}

.current-line {
  background: desaturate(lighten($circle-color, 30%), 30%);
}

.code-state {
  color: $circle-color;
  background: white;
  border: .2rem solid $circle-color;
  width: $button-size;
  height: $button-size;
  margin: .1rem;
  padding: 0;
  border-radius: $button-size;
  cursor: pointer;
  &.active {
    font-weight: bold;
    color: white;
    background-color: $circle-color;
    border-color: $circle-color;
  }
}

.code-states {
  display: flex;
  justify-content: space-between;
}

$timeline-height: .3rem;

.timeline-line {
  height: $timeline-height;
  max-width: $container-width - $button-size;
  position: relative;
  left: -$button-size / 2;
  bottom: -$button-size / 2 - $timeline-height;
  background: desaturate(lighten($circle-color, 25%), 30%);
  z-index: -1000;
  margin-left: $button-size;
}

.button-container {
  display: flex;
}

.change-state-button {
  color: white;
  background-color: darken($circle-color, 15%);
  font-weight: bold;
  padding: .5rem 1rem;
  margin: 1.5rem 2rem;
  width: 100%;
  border: 0;
  border-radius: .2rem;
  transition: background-color .2s;
  &:hover {
    background-color: darken($circle-color, 20%);
  }
  &.disabled {
    background-color: #95a5a6;
    &:hover {
      cursor: not-allowed;
    }
  }
}
